html {
  height: 100%;
  width: 100%;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display: flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:linear-gradient(45deg,rgb(59, 59, 59),rgb(174, 173, 173));
}
.calculator{
  border: 2px solid white;
  border-radius: 16px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: transparent;
  box-shadow: 0px 4px 15px #0d0d0d;
}
input{
 
  width:280px;
  border: none;
  margin:5px;
  padding: 20px;
  align-items: center;
  background: transparent;
  box-shadow:0px 4px 15px rgbs(84,84,84,0.1);
  text-align: right;
  cursor: pointer;
  font-size: 30px;
  
}

.row button{
  border: none;
  padding:10px;
  margin: 5px;
  width: 60px;
  height: 60px;
  box-shadow:-10px -10px 15px rgba(255,255,255,0.1);
  border-radius: 50%;
  background-color: #363030;
  font-size: 25px;
  font-weight: 600px;
  text-align: center;
}

v